h3 {
  text-align: center;
  color: purple;
  font-size: 40px;
  font-family: helvetica;

}
#aboutme {
  color: green;
  font-family: helvetica;
  font-size: 20px;
}
body {
    background-color: lightblue;
}
div.broccoli{
  text-align: center;
}
